# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/

# Node
node_modules/
*.log

# VSCode
.vscode/

# macOS
.DS_Store

# Others
*.sqlite3
*.db
*.bak
*.tmp
*.swp
*.swo
*.orig

# Docker
*.tar

# Jupyter
.ipynb_checkpoints/

# System
Thumbs.db
